body{
    margin: 30px;
    letter-spacing: 0.5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif 

}

.card{
    width: 500px;
    margin: 10px auto;
    border-radius: 30px;;
    /*border: solid lavender;*/
    padding: 50px;
    background-color: #aec3b0;
    display: flex ;
    justify-content: space-around;
    border: 10px dotted #598392;
    box-shadow: 8px 5px 20px #598392;
    
    
}

.image{
    width: 200px;
    display: inline;
    border: 2px solid #598392;
    border-radius: 10%;
    margin-top: 25px;
    position: relative;
    animation-name: example;
    animation-duration: 3s;  
    animation-delay: 2s;
    animation-fill-mode: backwards;
}

.image:hover{
    width: 202px;
    box-shadow: 5px 5px #eff6e0;

}

.card:hover{
    background-color: #598392;
    border-color: #eff6e0;
}

/* @keyframes example {
    from {top: 0px; background-color: yellow;}
    to {top: 200px;}
  } */

.info{

    color: #eff6e0;
    text-align: center;
    font-size: 15px;
}

h1:hover{
    color: #eff6e0;
    font-size: 33px; 
    background-color: #598392;
}
    
.hov{
    background-color: #aec3b0;
    padding: 5px;
    display: none;
    font-size: 14px;
}
span:hover + div{
        display: block;
    }
    




